@media (max-width: 1600px) {
    h1{
        /* color: red; */
        font-size: 1.6rem;
    }

    p{
        font-size: 0.9rem;
        line-height: 1.5rem;
    }

    button{
        font-size: 0.9rem;
    }

    h2{
        font-size: 4.8rem;
    }

    .imagem_100{
        display: none;
    }

    .imagem_75{
        display: block;
    }

    progress{
        max-width: 75px;
    }
}