*{
    color: white;
}

body{
    background-image: url(../img/cenarios/cenarioCaminho.jpg) ;
    background-repeat: no-repeat;
    background-size: 100%; 
    background-position: center 30%;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    max-height: 100vh;
}

.historia{
    margin: auto;
    max-width: 1250px;
    margin-top: 36px;
}

.questao{
    background: rgba(0, 0, 0, 0.83);
    padding: 20px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 19px;
}

/* Titulo */
h1{
    font-family: Lacquer;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

/* Pergunta */
p{
    color: #FFF;
    font-family: Inter;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem; 
}

.opcoes{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button{
    display: inline-flex;
    padding: 17px 33px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 17px;
    border: 1px solid #FFF;
    background: rgba(0, 0, 0, 0.50);
    font-family: Inter;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
}

.botao1:hover,.botao2:hover{
    transform: scale(1.09);
    transition: 100ms linear; 
}

.info{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 25px;
    align-items: flex-end;
}

.som{
    text-align: center;
    cursor: pointer;
    justify-content: center;
    display: flex;
}

.none{
    display: none;
}

.barras{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* Barra de Progresso */
progress{
    max-width: 100px;
    border: 2px solid white;
    margin-bottom: 8px;
    margin-top: 12px;
}

/* Chrome/Safari */ 
progress::-webkit-progress-bar { 
    background: black
} 

progress::-webkit-progress-value { 
    background-color: white !important; 
} 

/* Firefox */ 
progress { 
    background-color: black; 
} 

progress::-moz-progress-bar { 
    background-color: white !important; 
} 

/*IE10 */ 
progress { 
    background-color: black; 
} 

progress { 
    background-color: white; 
} 

/* Porcentagem */
h3{
    color: #FFF;
    font-family: Lacquer;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.imagem_50{
    display: none;
}

.vida, .sanidade{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100px;
}

/* Dia */
h2{
    font-family: Lacquer;
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.bloquear::before {
    content: ""; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); 
    z-index: 1; 
}

.divJumpscare{
    display: none;
    position: fixed;
    width: 100%;
    z-index: 2; 
    margin: auto;
    text-align: center;
}

.divJumpscare img{
    max-height: 100vh;
}

.audio, #somJumpscare{
    display: none;
}


/* Index ********************************************************************************************************************************************************************************************/

.index{
    background-image: url(../img/cenarios/cenarioIndex.png);
    background-position:top;
    background-size: cover;
    height: 100vh;
}

.containerIndex{
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    margin-left: 8px;
    margin-right: 8px;
}

.iconesSom{
    display: flex;
    justify-content: flex-end;
    margin-right: 80px;
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 17px;
    border: 1px solid #FFF;
    background: rgba(0, 0, 0, 0.50);
    text-decoration: none;
}

.botaoIndex{
    color: #FFF;
    font-family: Lacquer;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    padding: 17px 33px;
    border: 0;
}

.botoes{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    gap: 24px;
}

.voltar{
    justify-content: flex-end;
}

